[submodule "lib/DS3232RTC"]
	path = lib/DS3232RTC
	url = https://github.com/JChristensen/DS3232RTC.git
[submodule "lib/FastLED"]
	path = lib/FastLED
	url = https://github.com/FastLED/FastLED.git
[submodule "lib/Time"]
	path = lib/Time
	url = https://github.com/PaulStoffregen/Time.git
